<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/photoGallery.css">
    <title>Photo Gallery</title>
  </head>
  <body>
    <div class="image-box">
      <div class="img1">
        <h2>David Raya</h2>
        <img src="/images/1-David-Raya.jpg" alt="" />
      </div>
      <div class="img7">
                <h2>Sergi Canos</h2>
        <img src="/images/7-Sergi-Canos.jpg" alt="" />
      </div>
      <div class="img18">
        <h2>Pontus Jansson</h2>
        <img src="/images/18-Pontus-Jansson.jpg" alt="" />
      </div>
      <div class="img21">
        <h2>Chrstian Eriksen</h2>
        <img src="/images/21-Christian-Eriksen.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
