<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/works.css">
    <title>Work</title>
  </head>
  <body>
    <p>
      Brentford's predominant home colours are a red and white striped shirt,
      black shorts and red or black socks.[12] These have been the club's
      predominant home colours since the 1925–26 season, bar one season –
      1960–61 – when yellow (gold) and blue were used, unsuccessfully.[13] The
      colours on entering the Football League, in 1920–21, were white shirts,
      navy shorts and navy socks.[12] Away kits have varied over the years, with
      the current colours being a yellow shirt with yellow shorts, both with
      black detailing, along with yellow socks. Brentford have had several
      badges on their shirts since it was formed in 1889.[14] The first one, in
      1893, was a white shield, with 'BFC' in blue and a wavy line in blue,
      which is thought to represent the river and the rowing club, who founded
      the football club.[14] The next known badge, the Middlesex County Arms,
      was on shirts donated by a club supporter in 1909.[14] The Brentford and
      Chiswick arms, as a badge, was used just for the one season, in
      1938–39.[14] The next badge wasn't until 1971–72 when a shield, formed
      into quadrants, which had a hive and bees in one, 3 seaxes in another and
      the other two with red and white stripes.[14] In 1972, the club organised
      a competition to design a new crest, which was won by Mr B.G. Spencer's
      design, a circle with a bee and stripes and the founding date of 1888.
      This was introduced in 1973 and used until May 1975, when it was brought
      to the club's attention, via Graham Haynes, that the club was formed in
      1889 and not in 1888. Therefore a new badge, reputedly designed by Dan
      Tana – the club's chairman at the time – was introduced for the 1975–76
      season and continued until 1994 when the current badge was introduced.[14]
      In 2011 Russell Grant claimed to have designed the badge in a BBC
      interview,[15] however it was in fact designed in 1993 for two season
      tickets by supporter Andrew Henning, following a request from Keith Loring
      the then chief executive.[13] In 2017, the club redesigned its crest to a
      more modern, uncluttered, design with the flexibility for use in two tone
      colour print.[14] The design is a double roundel with the club name and
      year founded in white on a red background and a large central bee.[14]
    </p>
  </body>
</html>
