@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #c91d22;
  color: white;

  margin: 0;
  padding: 0;
}

.image-box {
  display: grid;
  align-items: center;

  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 1em;


  margin: 2em 5em;
}

h2 {
  text-align: center;
}
